/**** Modal Timeline ***/

.owlcarousel-fields-754 .owl-wrapper-outer {
  padding-bottom: 70px;
}

#block-nodeblock-1650 {
  background: url(/sites/all/themes/ADWR/img/About_Us.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0px;
  color: #1b2e5b;
}

#node-1650 .owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 3px 10px;
  font-size: 14px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #1B2E5B;
  filter: Alpha(Opacity=50);
  opacity: 0.65;
}

#node-1650 .owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
  background: #fff;
  color: #1B2E5B;
}

#node-1650 .owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.75;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #f5f5f5 !important;
}

.timeline {
  background-color: #fff;
  margin-top: 50px;
  height: 10px;
  width: 100%;
  position: relative;
}
.timeline .inside {
  position: absolute;
  height: 4px;
  background-color: #fff;
  width: 0%;
  top: 3px;
  left: 0;
}
.timeline .dot {
  z-index: 99;
  transition: 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  text-align: center;
  cursor: pointer;
}
.timeline .dot {
  left: 43%;
  background-color: #E37F3A;
}

.timeline .dot:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.timeline .dot date {
  font-family: roboto;
  font-size: 1.1em;
  display: block;
  position: relative;
  top: 25px;
  text-align: center;
}
.timeline .dot span {
  display: inline-block;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-indent: -99999px;
}

.modal.nobox {
  display: none;
  position: relative;
  top: 30px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
  color: #111;
}
.modal.nobox date {
  display: block;
  text-align: right;
}
.modal.nobox h2 {
  font-family: merriweather,sans-serif;
  font-size: 5rem;
  padding: 10px 0;
  border-bottom: solid #428bca 4px !important;
  margin-bottom: 20px;
  color: #1B2E5B !important;
}
.modal.nobox p {
  line-height: 130%;
}

/* Timeline Styling */

.simple_timeline ul li:nth-child(2n) > #block-block-151 ,
.simple_timeline ul li:nth-child(2n+1) > #block-block-151  {
  margin-top: 20px;
}

.simple_timeline ul li:nth-child(2n+1) > #block-block-151  .timeline-image {
  float: right;
  margin-right: -11%;
  font-weight: bold;
  background: rgb(252, 252, 252) none repeat scroll 0% 0%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 18px;
}
.simple_timeline ul li:nth-child(2n) > #block-block-151  .timeline-image {
  float: left;
  margin-left: -12%;
  font-weight: bold;
  background: rgb(252, 252, 252) none repeat scroll 0% 0%;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 18px;
}
.simple_timeline ul li:nth-child(2n) > #block-block-151  .timeline-content {
  float: left;
  padding: 30px;
  margin: 150px 0px 0px 20px;
  position: relative;
  background: #F5F5F5 none repeat scroll 0% 0%;
  border-radius: 10px;
  box-shadow: -5px 5px 0px #600;
  width: 50%;
}
.simple_timeline ul li:nth-child(2n+1) > #block-block-151  .timeline-content::after {
  display: block;
  content: "";
  position: absolute;
  top: 20%;
  right: -40px;
  width: 0px;
  height: 0px;
  background: transparent none repeat scroll 0% 0%;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent transparent #F5F5F5;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  position: absolute;
  left: 100%;
  right: auto;
  border-right: 20px solid #600;
  border-left: 20px solid transparent;
  border-left-color:#600 ;
  border-right-color: transparent;
}
.simple_timeline ul li:nth-child(2n+1) > #block-block-151  .timeline-content {
  padding: 15px;
  margin: 100px 20px 0px 0px;
  position: relative;
  background: #F5F5F5 none repeat scroll 0% 0%;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #600;
  width: 50%;
  float: right;
}
.simple_timeline ul li:nth-child(2n) > #block-block-151  .timeline-content::after {
  display: block;
  content: "";
  position: absolute;
  top: 16%;
  right: -40px;
  width: 0px;
  height: 0px;
  background: transparent none repeat scroll 0% 0%;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent transparent #600;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  position: absolute;
  left: -15%;
  right: auto;
  border-right: 20px solid #F5F5F5;
  border-left: 20px solid transparent;
  border-left-color: transparent;
  border-right-color: #600;
}
.simple_timeline ul li:nth-child(2n+1) > #block-block-151  .timeline-content h3.timeline-date {
  float: right;
}
.simple_timeline ul li .timeline-text {
  float: left;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  margin-left: 2%;
}
